In [258]:
import numpy as np
from random import choice

class Person():
    def __init__(self, gender='random'):
        if gender == 'random':
            self.gender = choice(['man', 'woman'])
        else:
            self.gender = gender
        
        self.extraversion = np.random.normal(loc=50, scale=15)
        self.extraversion = np.clip(self.extraversion, 0, 100)
        
        self.openness = np.random.normal(loc=50, scale=15)
        self.openness = np.clip(self.openness, 0, 100)
        
        # Creates a ~0.40 correlation between openness and IQ
        iq_zscore = (self.openness - 50)/15
        iq_fudge = np.random.normal(loc=1, scale=.3)
        self.iq = (100 + (15 * iq_zscore)) * iq_fudge
        
        self.conscientiousness = np.random.normal(loc=50, scale=15)
        self.conscientiousness = np.clip(self.conscientiousness, 0, 100)
        
        self.neuroticism = np.random.normal(loc=50, scale=15)
        self.neuroticism = np.clip(self.neuroticism, 0, 100)
        
        self.agreeableness = np.random.normal(loc=50, scale=15)
        self.agreeableness = np.clip(self.agreeableness, 0, 100)
        
        self.money = 60000
        self.lucky_breaks = 0
        
        # Romantic appeal
        # TODO: Match weights with actual psychological research
        if self.gender == 'man':
            self.appeal = ((.50 * (100 - self.neuroticism)) +
                      (.20 * self.extraversion) +
                      (.15 * self.agreeableness) +
                      (.10 * self.conscientiousness) +
                      (.05 * self.openness)
            )
        elif self.gender == 'woman':
            self.appeal = ((.25 * (100 - self.neuroticism)) +
                      (.35 * self.extraversion) +
                      (.25 * self.agreeableness) +
                      (.10 * self.conscientiousness) +
                      (.05 * self.openness)
            )
    
    def __repr__(self):
        return ('E: ' + str(self.extraversion) + '\n' +
                'O: ' + str(self.openness) + '\n' +
                'A: ' + str(self.agreeableness) + '\n' +
                'C: ' + str(self.conscientiousness) + '\n' +
                'N: ' + str(self.neuroticism))
    def job_opportunity(self):
        luck = np.random.uniform()
#         if luck > .99:
#             self.money *= 1.3
#             self.neuroticism *= .99
#             self.lucky_breaks += 1
#         elif luck > .90:
#             self.money *= 1.1
        if luck > .50:
            if self.extraversion > 45:
                if self.conscientiousness > 40:
                    if self.neuroticism < 65:
                        if self.iq > 105:
                            self.money *= 1.10
        elif luck > .25:
            if self.extraversion > 45:
                if self.conscientiousness > 40:
                    if self.neuroticism < 65:
                        if self.iq > 105:
                            self.money *= 1.05
        elif luck < .01:
            self.neuroticism *= 1.01
            self.money *= 0.8
    def romance(self):
        pass

In [259]:
vince = Person(gender='man')
alice = Person()
bob = Person()

In [260]:
corrs = []

for i in range(1000):
    z  = Person()
    for j in range(30):
        z.job_opportunity()
    corrs.append([z.money, z.lucky_breaks, z.extraversion, z.conscientiousness, z.neuroticism, z.iq])

In [261]:
import pandas as pd

corrs = pd.DataFrame(corrs, columns='money luck e c n iq'.split())


corrs.corr()

          money  luck         e         c         n        iq
money  1.000000   NaN  0.287821  0.126763 -0.107769  0.424093
luck        NaN   NaN       NaN       NaN       NaN       NaN
e      0.287821   NaN  1.000000 -0.029514  0.000799  0.006364
c      0.126763   NaN -0.029514  1.000000 -0.040024 -0.023000
n     -0.107769   NaN  0.000799 -0.040024  1.000000 -0.009603
iq     0.424093   NaN  0.006364 -0.023000 -0.009603  1.000000

In [72]:
for i in range(30):
    vince.romance()
    
for i in range(30):
    alice.job_opportunity()
    
for i in range(30):
    bob.job_opportunity()

In [73]:
vince.appeal

56.16475825903637

In [74]:
vince

E: 76.12263591600188
O: 39.50823372762983
A: 19.046935760439073
C: 28.151281186762674
N: 33.41469818657526

In [7]:
bob.money

90000.0